@font-face {
    font-family: "headerFont";
    src: url(../fonts/Righteous.ttf);
}

@font-face {
    font-family: "fontOne";
    src: url(../fonts/杨任东竹石体.ttf);
}

@font-face {
    font-family: "fontTwo";
    src: url(../fonts/acier.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* 页眉设置 */

header {
    height: 45px;
    width: 100%;
    background-color: #3C265D;
    box-shadow: 0px 4px 1px #7249c0;

}

#search {
    padding-top: 9px;
    margin-left: 72%;
    position: relative;
}

input[type=text] {
    background-color: #211437;
    border: 1.5px solid #6031a5;
    color: white;
    width: 190px;
    line-height: 1.5rem;
    border-radius: 5px;
}

input[type=submit] {
    position: absolute;
    left: 165px;
    width: 25px;
    height: 25px;
    background: url("../images/搜索.png") no-repeat center;
    cursor: pointer;
    display: inline-block;
    border: none;

}

/* 主体 */

body {
    background-image: linear-gradient(to bottom, #6E4DA1 25%, #B5ACD4 100%);

    width: 100%;
}


/* 导航栏部分 */
nav {
    width: 70%;
    margin: 0 auto;
    background-color: #F6F6F6;
    height: 100px;
    border-radius: 0 0 6px 6px;
}

.list ul li a span {
    margin-left: 3px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/向右箭头.png) no-repeat;
}

.list ul li:nth-child(1):hover a span {
    transform-origin: 10px 12px;
    transition: all 0.3s;
    transform: rotate(90deg);
}

.caption {
    float: left;
    padding: 8px 30px;
    position: relative;
}

.caption h1 {
    font-size: 28px;
    font-weight: bolder;
    font-family: headerFont;
    letter-spacing: 10px;
}

.caption p {
    position: absolute;
    font-size: 20px;
    font-family: fontOne;
    top: 72px;
    left: 173px;
}

.list ul {
    float: right;
    font-family: fontOne;
    padding-top: 45px;
    padding-right: 15px;
    font-size: 1.35rem;
}

.list ul li {
    padding: 8px;
    display: inline-block;
}

.list ul li:hover {
    border-radius: 6px;
    background-color: #886CB4;
}

.main {
    border-radius: 6px;
    background-color: #886CB4;
}

.main a {
    color: white;
}

.list ul li {
    position: relative;
}

.downList {
    visibility: hidden;
    width: 0;
    height: 0;
}

ul li:hover .downList {
    visibility: visible;
    display: block;
    position: absolute;
    top: 40px;
    left: -3px;
    width: 120px;
    height: 75px;
    background-color: #E0DCE6;
    transition: 0.5s height;
}

.list ul li:hover>a {
    color: white;
}


.downList li a {
    color: #6E4DA1;
}

.downList li {
    padding-bottom: 5px;
    top: -42px;
    width: 120.6px;
    left: -1px;
    text-align: center;
}


.list ul li:hover .downList li:hover {

    background-color: #000000;
}


/* 页脚 */
footer {
    margin-top: 100px;
    border-top: 10px solid#2a8ae5;
    height: 215px;
    background-color: #2D243B;
}

.footer {
    width: 70%;
    margin: 0 auto;
}

footer aside {
    margin-left: -40px;
}

footer aside div {
    margin-top: 40px;
    margin-left: 40px;
    float: left;
}

footer aside div img {
    width: 120px;
    height: 120px;
}

footer aside div p {
    font-size: 1.05rem;
    color: #d5d5d5;
    margin-top: 5px;
    margin-left: 30px;
}

footer article {

    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;

}

footer article p:nth-child(1) {
    color: #2A8AE5;
    font-size: 1.25rem;
    margin-bottom: 3px;
}

footer article p {
    font-size: 1.04rem;
    color: #d5d5d5;
    position: initial;
    line-height: 1.8rem;
    width: 665px;
}

footer article p:nth-child(4) {
    margin-top: 5px;
}

/* noPosi部分 */
div.nowPosi {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0px;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 550;
    font-family: fontOne;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
}

div.nowPosi p {
    margin-left: 20px;
}

div.nowPosi a:hover {
    border-bottom: 2px solid black;
}